### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.elf
*.exe
*.app
### C template

# Object files
*.ko

# Linker output
*.ilk
*.map
*.exp

# Shared objects (inc. Windows DLLs)
*.so.*

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### CMake
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
Makefile

### Miscellaneous file patterns
bin/
*.nacp
*.cbp
*.pfs0
*.nro
*.nso

### File patterns of common C++ IDEs
cmake/.idea
cmake/cmake-build-debug/
.build/
_build/
.vs
.idea/

upload.sh
release.sh
release
